.Container{
    width: 100%;
    max-height: 35rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

.Slide{
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.Btn{
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    background: red;
    margin: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.BtnLeft{
    left: 0;
}

.BtnRight{
    right: 0;
}